* {
    margin: 0;
    padding: 0;
    }

    body {

        font-family: 'Poppins', sans-serif;
        background-color: rgb(219, 218, 218);
        color: black;
        margin-left: 55px;
        margin-right: 55px;
        font-size: 15px;
    }