.boton__slide--verde{

  
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    border-radius: 50px;
    padding: 15px;
    margin-top: 320px;
    margin-right: 60px;
    font-size: 25px;
    
}

.boton__novedades {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 376px;
   
}  

.boton__colecciones {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 376px;
    margin-left: 955px;
   
} 

.boton__colecciones--summer {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 376px;
    
}

.boton__colecciones--summer2 {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 995px;
    width: 80px;
    margin-left: 610px;
    
}

.boton__colecciones--coffe {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 165px;
    margin-left: 310px;
    
}

.boton__colecciones--coffe2 {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 475px;
    margin-left: 610px;
    width: 60px;
    
}

.boton__colecciones--fruits {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 376px;
    margin-left: 310px;
    
}

.boton__colecciones--fruits2 {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 995px;
    margin-left: 22px;
    width: 60px;
    
}

.boton__colecciones--baker {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 165px;
    
    
}

.boton__colecciones--baker2 {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    position: absolute;
    margin-top: 475px;
    margin-left: 22px;
    width: 60px;
    
 
}

.boton__personaliza {

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    position: absolute;
    margin-top: 760px;
    
}

