
@media (max-width: 576px) {

    .contenedor__personaliza {
        
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        
    }
}

@media (max-width: 576px) {

     .carousel-item {
            
          
                img{
                height: 230px;
                
            }
            .boton__slide--verde {

                font-size: 12px;
                padding: 3px;
                margin-top: 550px;
                margin-right: 0px;
                
               
            }
                     
        }
    }

@media (max-width: 576px) {

        .boton__slide--verde {

            font-size: 10px;
            padding: 0px;
            padding-top: 20px;
           
        }
    }



    ul li {

        
        font-size: 12px;
        line-height: 20px;

    } 
        

    .personaliza__imagen img {

        height: 225px;
        width: 250px;
        padding-left: 30px;
       
    }



@media (max-width: 576px) {

    .contenedor__footer {

        p {

            font-size: 12px;
        }
    }

}

@media (max-width: 576px) {

    .novedades {

        padding-left: 50px;
        padding-top: 20px;
    }

}   

@media (max-width: 576px) {

    .colecciones{

        padding-left: 50px;
    }

}  

@media (max-width: 576px) {

    .header__redes img{

        height: 20px;
        width: 20px;
    }

}  

@media (max-width: 576px) {

    .contenedor__titulo{

       h1, h2, h3 {

            font-size: 20px;
            padding: 0px;
       }
    }

} 

@media (max-width: 576px) {

    .grid__home--Novedades {

        display: grid;
        grid-template-areas: 
            
            "imagenGrande imagenPequeña1 imagenPequeña2"
            "imagenGrande imagenPequeña3 imagenPequeña4";
        
        grid-template-columns: 190px 110px 110px;
        grid-template-rows: 210px;
        padding-top: 30px;
        padding-bottom: 30px;
        
    }


    .imagen_principal img {

        width: 180px;
        height: 170px;
    }

    .imagen_secundaria1 img {

        width: 100px;
        height: 50px
    }
    .imagen_secundaria2 img {

        width: 100px;
        height: 50px
    }
    .imagen_secundaria3 img {

        width: 100px;
        height: 50px
    }
    .imagen_secundaria4 img {

        width: 100px;
        height: 50px
    }

} 







