$title-font: 'Poppins', sans-serif;
$principal-color: black;
$title-size: 16px;
@import "header";
@import "body";
@import "nav";
@import "titulos";
@import "footer";
@import "animaciones";
@import "querys";


#slide {

    padding-top: 10px;
}

.contenedor__personaliza {

    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 35px;

    ul {
        padding-right: 20px;
    }

    li {

        padding-right: 20px;
    }
}

.colecciones__galeria {
    
        img {

            padding: 10px;
        }
}

.contenedor__imagen--404 {

    text-align: center;
    padding-top: 40px;
}

.subrayado {

    width: 1000px;
    height: 5px;
    
    background: black;
    position: absolute;
    margin-bottom: 100px;
    margin-left: 50px;
    
    
}

.boton__slide--verde{

  
        border: 1px solid black;
        text-decoration: none;
        color: black;
        background: radial-gradient(#a8ff78, #78ffd6);
        border-radius: 50px;
        
        padding: 15px;
        margin-top: 320px;
        margin-right: 60px;
        font-size: 25px;
        
        
}

.carousel-caption {

    text-align: right;
    

}




    