$title-font: 'Poppins', sans-serif;
$principal-color: rgb(218, 165, 52);
$title-size: 16px;
@import "header";
@import "body";
@import "nav";
@import "titulos";
@import "footer";
@import "animaciones";
@import "querys";


#slide {

    padding-top: 10px;
}

.contenedor__personaliza {

    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 35px;

    ul {
        padding-right: 20px;
    }

    li {

        padding-right: 20px;
    }
}

.colecciones__galeria {
    
        img {

            padding: 10px;
        }
}

    