$title-font: 'Poppins', sans-serif;
$principal-color: orange;
$title-size: 16px;
@import "header";
@import "body";
@import "nav";
@import "titulos";
@import "footer";
@import "animaciones";
@import "querys";
@import "botones";
@import "grids";


#slide {

    padding-top: 10px;
}

.contenedor__personaliza {

    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 35px;

    ul {
        padding-right: 20px;
    }

    li {

        padding-right: 20px;
    }
}

.colecciones__galeria {
    
        img {

            padding: 10px;
        }
}

.contenedor__imagen--404 {

    text-align: center;
    padding-top: 40px;
}

.subrayado {

    width: 1000px;
    height: 5px;
    background: black;
    position: absolute;
    margin-bottom: 100px;
    margin-left: 50px;
    
    
}

.carousel-caption {

    text-align: right;
    

}

#slide {

    margin-bottom: 30px;
}

.homeGrid {

    padding-top: 30px;
}

.col-sm {

    padding-top: 20px;
}


