.contenedor__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }
  .contenedor__header .header__redes {
    padding-top: 20px; }
    .contenedor__header .header__redes img {
      padding-left: 5px; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Poppins', sans-serif;
  background-color: #dbdada;
  color: black;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 20px; }
  body p {
    font-size: 20px; }

.bg-light {
  background-color: #dbdada !important;
  width: 700px; }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand {
  color: black; }

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: orange; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: black; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
  color: black; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: orange; }

.dropdown-item:focus, .dropdown-item:hover {
  color: orange;
  background-color: black; }

.navbar-light .navbar-toggler {
  color: black; }

nav {
  font-size: 20px; }

.contenedor__titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding-top: 20px; }
  .contenedor__titulo h1, .contenedor__titulo h2, .contenedor__titulo h3 {
    color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700; }
  .contenedor__titulo :hover {
    color: orange; }
  .contenedor__titulo a {
    text-decoration: none; }

.titulos__categorias p {
  color: black;
  width: 250px;
  justify-content: center;
  text-align: center;
  padding: 2px; }

.titulos__categorias :hover {
  color: orange; }

.titulos__categorias a {
  text-decoration: none; }

.container {
  display: inline; }

.contenedor__titulo--404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px; }
  .contenedor__titulo--404 h1, .contenedor__titulo--404 h2, .contenedor__titulo--404 h3 {
    color: black;
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700; }
  .contenedor__titulo--404 :hover {
    color: orange; }
  .contenedor__titulo--404 a {
    text-decoration: none; }

.titulos__categorias p {
  color: black;
  width: 250px;
  justify-content: center;
  text-align: center;
  padding: 2px; }

.titulos__categorias :hover {
  color: orange; }

.titulos__categorias a {
  text-decoration: none; }

.titulos__categorias--baker {
  position: absolute; }

.contenedor__titulo--slider {
  color: black;
  background-color: white;
  opacity: 50%; }
  .contenedor__titulo--slider h1, .contenedor__titulo--slider h2, .contenedor__titulo--slider h3 {
    color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 700; }

.contenedor__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 12px; }

.header__redes a img:hover {
  transform: rotate(360deg);
  transition: 0.8s; }

.contenedor__titulo a:hover {
  color: orange;
  transform: translate(7px, -7px);
  transition: 2s; }

@media (max-width: 576px) {
  .contenedor__personaliza {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; }
  ul li {
    font-size: 12px;
    line-height: 20px; }
  .personaliza__imagen img {
    height: 200px;
    width: 250px;
    padding-left: 30px; } }

@media (min-width: 1024px) {
  .contenedor__personaliza {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; }
  ul li {
    font-size: 18px;
    line-height: 30px; }
  .personaliza__imagen img {
    height: 300px;
    width: 400px;
    padding-left: 30px; } }

@media (min-width: 768px) {
  ul li {
    font-size: 18px;
    line-height: 20px; }
  .personaliza__imagen img {
    height: 200px;
    width: 300px;
    padding-left: 30px; } }

@media (max-width: 576px) {
  .carousel-item img {
    height: 230px; }
  .carousel-item .carousel-caption .boton__slide--verde {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    border-radius: 50px;
    padding: 5px;
    margin-top: 320px;
    margin-right: 0px;
    margin-left: 40px;
    font-size: 12px; }
  .carousel-item .carousel-caption .contenedor__titulo--slider {
    width: 200px;
    margin-bottom: 25px; }
  .carousel-item h1, .carousel-item h2, .carousel-item h3 {
    font-size: 20px; } }

@media (min-width: 768px) {
  .carousel-item img {
    height: 300px; }
  .carousel-item .boton__slide--verde {
    font-size: 20px;
    padding: 10px;
    margin-top: 550px;
    margin-right: 0px; }
  .carousel-item .carousel-caption .contenedor__titulo--slider {
    width: 300px;
    margin-bottom: 40px;
    margin-left: 160px; }
  .carousel-item h1, .carousel-item h2, .carousel-item h3 {
    font-size: 30px; } }

@media (min-width: 1024px) {
  .carousel-item img {
    height: 550px; }
  .carousel-item .boton__slide--verde {
    font-size: 30px;
    padding: 12px;
    margin-top: 550px;
    margin-right: 0px; }
  .carousel-item .carousel-caption .contenedor__titulo--slider {
    width: 550px;
    margin-bottom: 100px;
    margin-left: 200px; }
  .carousel-item .carousel-caption h1, .carousel-item .carousel-caption h2, .carousel-item .carousel-caption h3 {
    font-size: 50px; } }

@media (max-width: 576px) {
  .contenedor__footer p {
    font-size: 10px; } }

@media (max-width: 576px) {
  .novedades {
    padding-left: 50px;
    padding-top: 20px; } }

@media (max-width: 576px) {
  .colecciones {
    padding-left: 50px; } }

@media (max-width: 576px) {
  .header__redes img {
    height: 20px;
    width: 20px; } }

@media (min-width: 768px) {
  .header__redes img {
    height: 40px;
    width: 50px; } }

@media (max-width: 576px) {
  .contenedor__titulo h1, .contenedor__titulo h2, .contenedor__titulo h3 {
    font-size: 20px;
    padding: 0px; } }

@media (max-width: 576px) {
  .card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; } }

@media (max-width: 768px) {
  .card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover; }
  .card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
    border: 1px solid black;
    background-color: #dbdada;
    max-width: 100%;
    height: 140px; } }

@media (max-width: 576px) {
  header {
    max-width: 70%; } }

@media (max-width: 576px) {
  .boton__personaliza {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-bottom: 1000px;
    margin-top: 100px; } }

@media (min-width: 768px) {
  .boton__personaliza {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 15px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    margin-bottom: 1000px;
    margin-top: 100px; } }

@media (min-width: 1024px) {
  .boton__personaliza {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 25px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; } }

@media (max-width: 576px) {
  .boton__personaliza {
    border: 1px solid black;
    text-decoration: none;
    color: black;
    background: radial-gradient(#a8ff78, #78ffd6);
    padding: 5px;
    padding-right: 7px;
    font-size: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px; } }

@media (max-width: 576px) {
  .contenedor__imagen--eco img {
    width: 300px;
    height: 250px; }
  .contenedor__imagen--eco .parrafoEco p {
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    font-size: 15px;
    padding-left: 130px;
    padding-right: 130px; }
  .contenedor__imagen--ricoh img {
    width: 300px;
    height: 250px; }
  .contenedor__imagen--ricoh {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center; }
  .parrafoRicoh p {
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    font-size: 15px;
    padding-left: 130px;
    padding-right: 130px; } }

.carousel-caption .boton__slide--verde {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background: radial-gradient(#a8ff78, #78ffd6);
  border-radius: 50px;
  padding: 15px;
  margin-top: 320px;
  margin-right: 60px;
  font-size: 25px; }

.card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center; }

.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; }

.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
  border: 1px solid black;
  background-color: #dbdada; }

.card-product .bottom-wrap {
  padding: 15px;
  background-color: black; }

.label-rating {
  margin-right: 10px;
  color: #333;
  display: inline-block;
  vertical-align: middle; }

.card-product .price-old {
  color: #999; }

.bottom-wrap .price-wrap {
  padding-top: 10px;
  color: white; }

.bottom-wrap .boton__novedades--comprar {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background: radial-gradient(#a8ff78, #78ffd6);
  padding: 5px;
  padding-right: 7px;
  font-size: 15px;
  width: 60px; }

.image-grid-cover {
  width: 100%;
  background-size: cover;
  min-height: 180px;
  position: relative;
  margin-bottom: 30px;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  border-radius: 4px; }

.image-grid-clickbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, 0.45); }

.cover-wrapper {
  font-size: 18px;
  text-align: center;
  display: block;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.8) 0 1px 0;
  z-index: 21;
  position: relative;
  top: 80px; }

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #a8ff78; }

.contenedor__flex--colecciones {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .contenedor__flex--colecciones img {
    padding: 10px; }
  .contenedor__flex--colecciones .cover {
    margin-bottom: 100px;
    position: absolute; }

.imagen1 {
  background-image: url("../../img/bake1 copia.jpg");
  background-position: center;
  background-attachment: inherit;
  background-size: cover;
  height: 300px;
  width: 350px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  text-align: center; }

.imagen2 {
  background-image: url("../../img/c2 copia.jpg");
  background-position: center;
  background-attachment: inherit;
  background-size: cover;
  height: 300px;
  width: 350px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  text-align: center; }

.imagen3 {
  background-image: url("../../img/s1 copia.jpg");
  background-position: center;
  background-attachment: inherit;
  background-size: cover;
  height: 300px;
  width: 350px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  text-align: center; }

.imagen4 {
  background-image: url("../../img/fruta 6 copia.jpg");
  background-position: center;
  background-attachment: inherit;
  background-size: cover;
  height: 300px;
  width: 350px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  text-align: center; }

.imagen5 {
  background-image: url("../../img/10 copia.jpg");
  background-position: center;
  background-attachment: inherit;
  background-size: cover;
  height: 300px;
  width: 350px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  text-align: center; }

.imagen6 {
  background-image: url("../../img/frase1 copia.jpg");
  background-position: center;
  background-attachment: inherit;
  background-size: cover;
  height: 300px;
  width: 350px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 20px;
  text-align: center; }

.boton {
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background: radial-gradient(#a8ff78, #78ffd6);
  border-radius: 50px;
  padding: 5px;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px; }

.boton:hover {
  color: orange; }

.contenedor__personaliza {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 35px; }
  .contenedor__personaliza ul {
    padding-right: 20px; }
  .contenedor__personaliza li {
    padding-right: 20px; }

.colecciones__galeria img {
  padding: 10px; }

.contenedor__imagen--404 {
  text-align: center;
  padding-top: 40px; }

.subrayado {
  width: 1000px;
  background: black;
  color: black;
  position: absolute;
  margin-bottom: 100px;
  margin-left: 50px; }

.carousel-caption {
  text-align: right; }

#slide {
  margin-bottom: 30px; }

.homeGrid {
  padding-top: 30px; }

.col-sm {
  padding-top: 20px; }

.main .img-responsive {
  margin-bottom: 30px; }

.contenedor__imagen--eco {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center; }
  .contenedor__imagen--eco .parrafoEco {
    width: 570px;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center; }

.contenedor__imagen--ricoh {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center; }
  .contenedor__imagen--ricoh .parrafoRicoh {
    width: 570px;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 10px;
    align-items: center; }
